/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Fonts*/
@font-face {
  font-family: "Proxima Nova Medium";
  src: url(../fonts/FontsFree-Net-pr2.ttf);
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../fonts/FontsFree-Net-FontsFree-Net-Proxima-Nova-Sbold.ttf);
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/FontsFree-Net-FontsFree-Net-Proxima-Nova-Bold.ttf);
}
@font-face {
  font-family: ".SF NS Display";
  src: url(../fonts/SFNS\ Display\ Regular.ttf);
}
.mobile-icons ul,
li.menu-item-6.extra,
li.menu-item-7.extra,
li.menu-item-8.extra,
.footer-horizontal-line-mobile,
.cart-shopping-mobile,
.heart-shopping-mobile {
  display: none;
}

/*utilities*/
.background-gray {
  background-color: #eeeeee;
  width: 100%;
}
.payments-image {
  max-width: 547px;
}
img.payment {
  width: 100%;
}
.container {
  width: 100%;
}
.col-list-title {
  min-height: 20px;
  max-width: 250px;
  color: #ffffff;
  font-family: "Proxima Nova SemiBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.title-header h3 {
  text-transform: uppercase;
  height: 26px;
  max-width: 809px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  padding-top: 40px;
}
.fa-chevron-down {
  color: #575757;
}
.fa-circle-user {
  color: #2a2a2a;
}
.fa-magnifying-glass,
.fa-phone,
.fa-envelope {
  color: #fff;
}
.fa-cart-shopping {
  color: #ffffff;
  background-color: #407ec9;
  width: 52px;
  height: 30px;
  padding: 7px 17px;
}
.fa-heart {
  color: #6f6f6f;
  border: 2px solid #6f6f6f;
  width: 52px;
  height: 30px;
  padding: 14px 14px;
}
i.fa-solid.fa-cart-shopping.desktop {
  color: #2a2a2a;
  background: none;
}
.fa-star {
  color: #fadb50;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  text-align: center;
}

.footer-link {
  max-height: 144px;
  max-width: 240px;
  color: #ffffff;
  font-family: ".SF NS Display";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 36px;
  height: 100%;
  list-style: none;
  width: 100%;
  text-align: left;
}
/*header section*/
.background-gray .upper-menu,
.background-gray .lower-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}
.background-gray .upper-menu .page-titles li,
.upper-menu .other-pages li,
.megamenu nav ul li {
  display: inline-block;
  max-width: 177px;
  height: 3px;
}

.upper-menu .page-titles .page-titles-list li.wholesale-pros-only {
  color: #407ec9;
  font-family: "Proxima Nova Medium";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 23px;
  height: 62px;
  max-width: 177px;
  border-top: 3px solid #407ec9;
}
.upper-menu .page-titles li {
  display: inline-block;
  width: 177px;
}
ul.page-titles-list {
  display: flex;
}
i.fa-solid.fa-chevron-down.fa-sm.mobile {
  display: none;
}
.upper-menu .page-titles .page-titles-list li.retail {
  height: 62px;
  max-width: 177px;
  color: #282828;
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  margin: 0 auto;
  padding-top: 23px;
  background-color: #eee !important;
  text-align: center;
}

/*search bar*/
header .upper-menu .search-input ::placeholder {
  height: 17px;
  width: 168px;
}
.search-bar {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.search-bar .search-icon {
  height: 44px;
  width: 44px;
  border-radius: 0 5px 5px 0;
  background-color: #1a355c;
}
.search-input {
  box-sizing: border-box;
  height: 44px;
  max-width: 529px;
  width: 100%;
  border: 1px solid #1a355c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
  color: #6f6f6f;
  font-family: "Proxima Nova Medium";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
.upper-menu .other-pages {
  max-width: 339px;
  width: 100%;
  height: 19px;
}
.upper-menu .other-pages li {
  height: 17px;
  max-width: 110px;
  width: 100%;
  color: #282828;
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
/*megamenu list*/
header .lower-menu {
  display: flex;
  justify-content: space-around;
  max-width: 1360px;
  margin: 0 auto;
}
header .lower-menu .megamenu {
  max-width: 1360px;
  width: 100%;
  align-items: center;
  display: flex;
}
ul.megamenu-list {
  display: flex;
  justify-content: flex-end;
}
nav ul.megamenu-list li {
  height: 17px;
  color: #575757;
  font-family: "Proxima Nova Semibold";
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 13px;
  text-align: center;
  list-style-type: none;
  margin: auto 0;
  max-width: 160px;
  width: 100%;
  text-transform: uppercase;
}
nav.main-navigation {
  max-width: 1360px;
  width: 100%;
}
img.painful-logo {
  margin: 20px 0;
}
/*hero section*/
.container-grid {
  display: grid;
  gap: 15px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1360px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0px;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
}
#item-2 {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}
#item-0 img,
#item-1 img,
#item-2 img {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  object-fit: cover;
}

/*supplies grid*/
.supplies-container {
  width: 100%;
}
.supplies-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  top: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 1360px;
  gap: 10px;
}
.supply-title {
  height: 54px;
  max-width: 159px;
  color: #575757;
  font-family: "Proxima Nova Bold";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 27px;
  text-align: center;
  margin-bottom: -20px;
}
.supply-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.supply-card .shop-now {
  width: 100%;
  color: #ffffff;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: none;
  height: 20px;
}
.description-supply {
  text-align: center;
}
button.shop-now {
  align-items: center !important;
  height: 40px !important;
  width: 100%;
  background-color: #407ec9;
  align-self: center;
}
/*community grid*/
.community-grid {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  width: 100%;
}
.community-grid .community-card {
  height: 419px;
  max-width: 446px;
  width: 100%;
}
img.community-img {
  width: 100%;
  max-width: 446px;
}
.community-grid .community-card .description {
  height: 78px;
  max-width: 403px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.community-grid .community-card .date {
  height: 26px;
  max-width: 103px;
  color: #000000;
  font-family: ".SF NS Display";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.blog-post {
  display: flex;
  justify-content: center;
}
.blog-post .community-blogs-btn {
  display: block;
  align-items: center;
  height: 50px;
  max-width: 189px;
  width: 100%;
  background-color: #407ec9;
  color: #ffffff;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: none;
}
/*new products grid*/

.new-products-grid {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 552px;
  width: 100%;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  max-width: 1360px;
}
.new-products-card {
  box-sizing: border-box;
  max-height: 376px;
  height: 100%;
  width: 100%;
  max-width: 262px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  margin: inherit;
}
.new-product-img {
  max-width: 260px;
  width: 100%;
}

.supply-img {
  max-width: 260px;
  width: 100%;
}

.new-products-card .product-price {
  height: 26px;
  max-width: 70px;
  width: 100%;
  color: #407ec9;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.new-products-card .product-description {
  height: 44px;
  max-width: 246px;
  width: 100%;
  color: #282828;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}
/*reviews grid*/
.reviews-grid {
  display: flex;
  justify-content: center;
  height: 325px;
  width: 100%;
  max-width: 1360px;
  margin: 40px auto;
}

.reviews-grid .review-card {
  height: 274px;
  max-width: 320px;
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0 10px;
}
.review-title {
  height: 26px;
  max-width: 311px;
  color: #282828;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
}
.review-and-date p .date {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  color: #000;
  font-family: ".SF NS Display";
}
.description p .review-text {
  color: #282828;
  font-family: ".SF NS Display";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
.review-card .review-link a {
  color: #407ec9;
  font-family: "Proxima Nova SemiBold";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}
.reviews-grid .review-card .review-and-date,
.reviews-grid .review-card .description,
.reviews-grid .review-card .review-link {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.review-card .review-and-date .review,
.reviews-grid .review-card .description > img,
.review-card .review-link a {
  margin: 0 20px 20px 0;
}
/*footer wrapper*/
footer {
  width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4 {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

footer .footer-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

footer .footer-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
/*content section styling*/
footer .content {
  display: flex;
  justify-content: center;
  height: 451px;
  height: 100%;
  width: 100%;
  background-color: #407ec9;
  border-bottom: 2px solid #6f99cb;
}
footer .content .footer-motto {
  width: 100%;
  color: #cbe2ff;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  max-width: 530px;
}

footer .content .footer-logo {
  margin: 40px 0;
  margin-bottom: 20px;
  border-radius: 100%;
}
/*footer content middle*/
footer .upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  background-color: #407ec9;
  padding: 30px 0;
}
.width {
  max-width: 1360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/*lower footer content*/
footer .lower-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 94px;
  background-color: #1a355c;
  padding: 20px;
}
.lower-footer .width .dropdown-title {
  min-height: 16px;
  max-width: 58px;
  color: #ffffff;
  font-family: ".SF NS Display", sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
}
#dropdown-footer {
  box-sizing: border-box;
  width: 100%;
  min-height: 31px;
  border: 2px solid #7f8387;
  color: #ffffff;
  font-family: "Proxima Nova Bold";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  background-color: #1a355c;
}
.copyright {
  height: 22px;
  max-width: 234px;
  color: #ffffff;
  font-family: ".SF NS Display";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}
.subscribe-form {
  display: flex;
}
.subscribe-form .sign-up-btn {
  display: inline-block;
}
.subscribe-form input[type="email"] {
  display: inline-block;
  width: 60%;
  max-width: 200px;
  height: 40px;
}
.subscribe-form input[type="email"]::placeholder {
  color: #000000;
  font-family: ".SF NS Display", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}
.sign-up-btn {
  background-color: #282828;
  max-height: 39px;
  max-width: 92px;
  height: 100%;
  width: 100%;
  height: 40px;
  color: #ffffff;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px 0;
  text-align: center;
}
