/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Fonts*/
@font-face {
  font-family: "Proxima Nova Medium";
  src: url(../fonts/FontsFree-Net-pr2.ttf);
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../fonts/FontsFree-Net-FontsFree-Net-Proxima-Nova-Sbold.ttf);
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/FontsFree-Net-FontsFree-Net-Proxima-Nova-Bold.ttf);
}
@font-face {
  font-family: ".SF NS Display";
  src: url(../fonts/SFNS\ Display\ Regular.ttf);
}

/*utilities*/
.background-gray {
  background-color: #eeeeee;
  width: 100%;
}
.container {
  width: 100%;
}
.title-header h3 {
  text-transform: uppercase;
  height: 26px;
  max-width: 809px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  padding-top: 40px;
}
/*header section*/
.background-gray .upper-menu,
.background-gray .lower-menu {
  display: flex;
  justify-content: space-around;
  height: 62px;
  align-items: center;
}
.background-gray .upper-menu .page-titles li,
.upper-menu .other-pages li,
.megamenu nav ul li {
  display: inline-block;
  max-width: 177px;
  height: 3px;
}
.container-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  height: 100%;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
#item-2 {
  grid-row-start: 2;
  grid-column-start: 2;                                                                                                                   
  grid-row-end: 3;
  grid-column-end: 3;
}
.upper-menu .page-titles .page-titles-list li.wholesale-pros-only {
  color: #407ec9;
  font-family: "Proxima Nova Medium";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 23px;
  height: 62px;
  max-width: 177px;
  border-top: 3px solid #407ec9;
}
.upper-menu .page-titles .page-titles-list li.retail {
  height: 17px;
  max-width: 177px;
  color: #282828;
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  margin: auto;
  padding: 20px;
}
/*search bar*/
header .upper-menu .search-input ::placeholder {
  height: 17px;
  width: 168px;
}
.search-bar {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.search-bar .search-icon {
  height: 44px;
  width: 44px;
  border-radius: 0 5px 5px 0;
  background-color: #1a355c;
}
.search-input {
  box-sizing: border-box;
  height: 44px;
  max-width: 529px;
  width: 100%;
  border: 1px solid #1a355c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
  color: #6f6f6f;
  font-family: "Proxima Nova Medium";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
/*megamenu list*/
nav ul.megamenu-list li {
  height: 17px;
  color: #575757;
  font-family: "Proxima Nova Semibold";
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 13px;
  text-align: center;
  list-style-type: none;
  margin: auto;
}

/*community grid*/
.community-grid {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.community-grid .community-card {
  height: 419px;
  max-width: 446px;
  width: 100%;
}
img.community-img {
  width: 100%;
  max-width: 446px;
}
.community-grid .community-card .description {
  height: 78px;
  max-width: 403px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.community-grid .community-card .date {
  height: 26px;
  max-width: 103px;
  color: #000000;
  font-family: ".SF NS Display";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  width: 100%;
}
.blog-post {
  display: flex;
  justify-content: center;
}
.blog-post .community-blogs-btn {
  display: block;
  align-items: center;
  height: 50px;
  max-width: 189px;
  width: 100%;
  background-color: #407ec9;
  color: #ffffff;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: none;
}
/*supplies grid*/
.supplies-container {
  width: 100%;
}
.supplies-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  top: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 1260px;
  gap: 10px;
}
.supply-title {
  height: 54px;
  max-width: 159px;
  color: #575757;
  font-family: "Proxima Nova Bold";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 27px;
  text-align: center;
  margin-bottom: -20px;
}
.supply-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.supply-card .shop-now {
  width: 100%;
  color: #ffffff;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: none;
  height: 20px;
}
.description-supply {
  text-align: center;
}
/*======
footer, contents
=======*/
html footer {
  bottom: 0;
  position: relative;
}
footer .upper-footer,
footer .content {
  display: flex;
  justify-content: center;
  height: 451px;
  height: 100%;
  width: 100%;
  background-color: #407ec9;
}
footer .lower-footer {
  max-height: 200px;
  width: 100%;
  background-color: #1a355c;
  display: flex;
  justify-content: center;
  min-height: 190px;
}
footer .content .upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  max-width: 1260px;
  width: 100%;
}
footer .content .footer-logo {
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*upper footer*/
footer .upper-footer ul .col-list-title {
  height: 20px;
  max-width: 117px;
  width: 100%;
  color: #ffffff;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  list-style-type: none;
  text-transform: uppercase;
}

