/*hidden for mobile*/
.search-bar .search-icon,
.lower-menu .megamenu nav,
.other-pages-list,
header .lower-menu .megamenu {
  display: none;
}
/*utilities mobile*/
.background-gray {
  background-color: transparent;
}

.upper-menu {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}
header {
  display: flex;
  flex-direction: column-reverse;
}

.logo-image {
  width: 100%;
  margin: auto 0;
}
/*search bar*/
header .upper-menu {
  flex-direction: column-reverse;
}
header .upper-menu .search-input ::placeholder {
  height: 16px;
  width: 156px;
  color: #6f6f6f;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.search-bar {
  margin: auto;
  max-width: 600px;
  width: 100%;
}
.search-bar .search-input {
  height: 35px;
  border-radius: 0;
  width: 100%;
  max-width: 600px;
  margin: auto 0;
}
.search-bar .fa-magnifying-glass {
  display: block;
}

.logo-image .painful-logo {
  max-height: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 2px;
}
.lower-menu .logo-image .painful-logo {
  max-width: 119px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}
.mobile-icons ul {
  display: flex;
  list-style-type: none;
  max-width: 200px;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
}
.mobile-icons ul li {
  display: inline;
  max-width: 40px;
}
.mobile-icons {
  width: 100%;
  margin: auto 0;
}

/*lower menu*/
header .lower-menu {
  margin: auto;
  width: 100%;
}
/*mobile menu*/

/*community grid*/

.community-grid {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: visible;
  overflow-y: hidden;
}
.container {
  width: 100%;
}
.community-grid .community-card {
  height: 419px;
  width: 100%;
  min-width: 300px;
}
img.community-img {
  width: 100%;
  max-width: 446px;
}
.community-grid .community-card .description {
  height: 78px;
  max-width: 403px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.community-grid .community-card .date {
  height: 26px;
  max-width: 103px;
  color: #000000;
  font-family: ".SF NS Display";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.title-header {
  text-transform: uppercase;
  height: 26px;
  max-width: 809px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  padding-top: 0;
}
.title-header-reviews {
  text-transform: uppercase;
  height: 26px;
  max-width: 809px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
}

.blog-post {
  display: flex;
  justify-content: center;
}
.blog-post .community-blogs-btn {
  display: block;
  align-items: center;
  height: 50px;
  max-width: 189px;
  width: 100%;
  background-color: #407ec9;
  color: #ffffff;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: none;
}

/*footer*/

.upper-footer {
  display: flex;
  flex-direction: column;
}
.footer-link {
  display: none;
}
.col-3 .footer-link,
.col-4 .footer-link,
.col-list-title {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 360px;
  width: 100%;
}

.search-bar .search-icon {
  display: none;
}

.supply-card {
  flex-direction: row;
  width: calc(100% - 50px);
}
.supplies-grid {
  flex-direction: column;
}

.supply-img-container {
  order: -1;
  align-self: self-start;
}
.shop-now,
.supply-title {
  float: right;
}
.supply-title {
  color: #575757;
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.73px;
  line-height: 20px;
  text-align: justify;
  text-transform: uppercase;
}
.description-supply .shop-now {
  color: #407ec9;
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  text-align: left;
  background-color: transparent;
}
.supply-horizontal-line {
  height: 1px;
  max-width: 790px;
  width: 100%;
  border: 1px solid #eeeeee;
}
.icons-mobile {
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
}

.supply-img {
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  /* margin-left: 40px; */
  margin: 40px 20px;
}

.description-supply {
  margin: 50px 24px;
}

/*reviews*/

p.review-text {
  max-width: 140px;
  width: 100%;
}
.footer-horizontal-line-mobile {
  display: block;
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #6f99cb;
  margin: 0;
}

.subscribe-form {
  padding: 20px;
}
/*new products grid*/

.new-products-card {
  box-sizing: border-box;
  max-height: 376px;
  height: 100%;
  width: 100%;
  max-width: 262px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  margin: inherit;
  min-height: -webkit-fill-available;
}
.container.reviews .reviews-grid div:nth-child(-n + 2) {
  display: none;
}
.container.reviews .reviews-grid .description {
  flex-direction: row;
}
.review-card {
  margin: auto 20px;
}
.reviews-grid {
  flex-direction: column;
}
.new-product-img {
  min-width: 154px;
  min-height: 154px;
}

nav .m-menu ul li label.main-menu {
  line-height: 42px;
  font-weight: 600;
}
.fa-cart-shopping-mobile {
  display: flex;
  color: #ffffff;
  background-color: #333;
  width: 52px;
  height: 30px;
  align-items: center;
  padding: 15px;
}

.cart-shopping-mobile {
  display: block;
  margin: 20px 20px;
}
.heart-shopping-mobile {
  display: block;
  margin: 20px 20px;
}
.product-price {
  text-align: center;
}
.icons-mobile-new-products {
  display: flex;
  justify-content: space-around;
}

/*footerr*/
footer .upper-footer .width {
  flex-direction: column;
}
.lower-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.dropdowns .shopping-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dropdowns .copyright {
  margin-top: auto;
  margin-bottom: auto;
}

/*mobile menu*/

ul.page-titles-list.active {
  height: 100vh;
  display: block;
  top: 0;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 70%;
  content: "";
}

ul.megamenu-list {
  display: none;
}
i.fa-solid.fa-chevron-down.fa-sm.mobile {
  display: inline;
  color: white;
  margin-left: 70px;
}
.fa-bars,
.fa-xmark {
  transition: transform 0.3s ease-in-out;
}

ul.megamenu-list.active,
.extra-menu-list-item {
  position: absolute;
  top: 0;
  padding: 70px 0px;
  flex-direction: column;
  left: 0;
  width: 70%;
  max-width: 300px;
  display: flex;
}
.fa-bars:before,
.fa-navicon:before {
  content: "\f0c9";
}
.overlay {
  display: none;
}
.overlay.active {
  opacity: 0.64;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: block;
  transition: 0.3s ease-in-out;
}
li.menu-item-6.extra {
  border-top: 2px solid grey;
}
.extra {
  color: #000000 !important;
  font-family: "Proxima Nova SemiBold" !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
  line-height: 32px !important;
}

li[class*="menu-item"] {
  display: inline-flex !important;
  max-width: 100% !important;
  text-transform: uppercase;
  text-align: left;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-weight: 100;
  color: #282828;
  font-family: ".SF NS Display", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  height: 40px;
  justify-content: space-between;
}
ul.page-titles-list,
.overlay {
  display: none;
}
.container-grid {
  width: calc(100% - 30px);
  display: block;
}
ul.page-titles-list.active li.wholesale-pros-only,
ul.page-titles-list.active li.retail {
  background-color: transparent !important;
  max-width: 154px !important;
  width: 100%;
  margin: 0 auto !important;
  vertical-align: middle;
  padding-top: 23px !important;
  height: 46px !important;
}

i.fa-sharp.fa-solid.fa-xmark.fa-2xl {
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 40px;
  color: #fff;
}
