/*hidden for mobile*/
.search-bar .search-icon,
.lower-menu .megamenu nav,
.other-pages-list,
header .lower-menu .megamenu {
  display: none;
}
/*utilities mobile*/
header {
  border: none;
}
.background-gray {
  background-color: transparent;
}
.title-header h3 {
  margin: 30px auto 0 auto !important;
  padding: 0 !important;
}
.upper-menu {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}
.hidden-element {/*class to hide elements*/
  display: none;
}
header {
  display: flex;
  flex-direction: column-reverse;
}

.logo-image {
  width: 100%;
  margin: auto 0;
}
.fa-square-facebook,
.fa-square-pinterest,
.fa-square-youtube,
.fa-instagram,
.fa-square-twitter {
  color: white;
}
.footer-horizontal-line-mobile {
  display: block;
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #6f99cb;
  margin: 0;
}
/*search bar*/
header .upper-menu {
  flex-direction: column-reverse;
}
header .upper-menu .search-input ::placeholder {
  height: 16px;
  width: 156px;
  color: #6f6f6f;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.search-bar {
  margin: auto;
  max-width: 600px;
  width: 100%;
  border: 1px #333 solid;
}
.search-bar .search-input {
  height: 35px;
  border-radius: 0;
  width: 100%;
  max-width: 600px;
  margin: auto 0;
  border: none;
}
.search-bar i.fa-solid.fa-magnifying-glass.fa-lg {
  display: block;
  color: black;
  padding: 10px;
}
.logo-image .painful-logo {
  max-height: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 2px;
}
.lower-menu .logo-image .painful-logo {
  max-width: 119px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}
.mobile-icons ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px 0;
}
.mobile-icons ul li {
  display: inline;
  max-width: 40px;
}
.mobile-icons {
  width: 100%;
  margin: auto 0;
}
i.fa-solid.fa-cart-shopping.desktop {
  color: #2a2a2a;
  background: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

/*lower menu*/
header .lower-menu {
  margin: auto;
  width: 100%;
}

/*community grid*/

.community-grid {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: visible;
  overflow-y: hidden;
}
.container {
  width: 100%;
}
.community-grid .community-card {
  height: 419px;
  width: 100%;
  min-width: 300px;
}
img.community-img {
  width: 100%;
  max-width: 446px;
}
.community-grid .community-card .description {
  height: 78px;
  max-width: 403px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.community-grid .community-card .date {
  height: 26px;
  max-width: 103px;
  color: #000000;
  font-family: ".SF NS Display";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.title-header-reviews {
  text-transform: uppercase;
  height: 26px;
  max-width: 809px;
  color: #000000;
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin: auto;
}
.blog-post {
  display: flex;
  justify-content: center;
}
.blog-post .community-blogs-btn {
  display: block;
  align-items: center;
  height: 50px;
  max-width: 189px;
  width: 100%;
  background-color: #407ec9;
  color: #ffffff;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: none;
}

/*footer*/

.upper-footer {
  display: flex;
  flex-direction: column;
}
.footer-link {
  display: none;
}
.col-3 .footer-link,
.col-4 .footer-link,
.col-list-title {
  display: block;
  margin: auto 20px;
  text-align: left;
  max-width: 360px;
  width: 100%;
}

.search-bar .search-icon {
  display: none;
}

/*reviews*/

p.review-text {
  max-width: 140px;
  width: 100%;
}

.reviews-grid .review-card {
  margin: 10px auto;
  height: 274px;
  max-width: 320px;
  width: 100%;
}

.container.reviews .reviews-grid .description {
  flex-direction: row;
}
.review-card {
  margin: auto 20px;
}
.reviews-grid {
  flex-direction: column;
}

nav .m-menu ul li label.main-menu {
  line-height: 42px;
  font-weight: 600;
}
.fa-cart-shopping-mobile {
  display: flex;
  color: #ffffff;
  background-color: #333;
  width: 52px;
  height: 30px;
  align-items: center;
  padding: 15px;
}

.cart-shopping-mobile {
  display: block;
  margin: 20px 20px;
}
.heart-shopping-mobile {
  display: block;
  margin: 20px 20px;
}
.product-price {
  text-align: center;
}
.icons-mobile-new-products {
  display: flex;
  justify-content: space-around;
}
/*slider*/

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  margin-top: -20px;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 10;
}

/*to overwrite swiper css from having an effect on the new product cards*/
.new-products-card.swiper-slide {
  flex-shrink: unset;
}
.swiper-slide {
  box-sizing: border-box;
  max-height: 354px;
  height: 100%;
  width: 100% !important;
  max-width: 156px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  margin: inherit;
  min-height: -webkit-fill-available;
}

/*footerr*/
footer .upper-footer .width {
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  max-width: 167px;
  width: 100%;
  align-items: left;
}

/*lower footer*/
.lower-footer .width {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}
.lower-footer .width .shopping-dropdown {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  display: grid;
  max-width: 148px;
  width: 100%;
  margin: auto;
}
.lower-footer .width .languages-dropdown {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 5;
  display: grid;
  max-width: 148px;
  width: 100%;
  margin: auto;
}
.lower-footer .width .payments-image {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 5;
  display: grid;
  max-width: inherit;
  padding-top: 30px;
}
.lower-footer .width .copyright {
  max-width: 547px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 5;
  display: grid;
}
.subscribe-form {
  padding: 20px;
}
/*new products*/
.background-gray.products {
  background-color: #eeeeee;
}
.new-products-card {
  box-sizing: border-box;
  max-height: 376px;
  height: 100%;
  width: 100%;
  max-width: 262px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  margin: inherit;
  min-height: -webkit-fill-available;
}
.new-product-img {
  max-width: 154px;
  max-height: 154px;
  width: 100%;
}

.fa-cart-shopping-mobile {
  display: flex;
  color: #ffffff;
  background-color: #333;
  width: 52px;
  height: 30px;
  align-items: center;
  padding: 15px;
}

.cart-shopping-mobile {
  display: block;
  margin: 20px 20px;
}
.heart-shopping-mobile {
  display: block;
  margin: 20px 20px;
}
.product-price {
  text-align: center;
}

/*swiper*/
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 14px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 20px !important;
  height: 20px !important;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  background: #abaeb1;
  border-radius: 100%;
}

/*mobile menu*/

ul.page-titles-list.active {
  height: 100vh;
  display: block;
  top: 0;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 70%;
  content: "";
}

ul.megamenu-list {
  display: none;
}
i.fa-solid.fa-chevron-down.fa-sm.mobile {
  display: flex;
  color: white;
  margin-left: 70px;
  justify-content: flex-end;
}
.fa-bars,
.fa-xmark {
  transition: transform 0.3s ease-in-out;
}

ul.megamenu-list.active,
.extra-menu-list-item {
  position: absolute;
  top: 0;
  padding: 70px 0px;
  flex-direction: column;
  left: 0;
  width: 70%;
  max-width: 300px;
  display: flex;
}

.overlay {
  display: none;
}
.overlay.active {
  opacity: 0.64;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: block;
  transition: 0.3s ease-in-out;
}

li.menu-item-6.extra {
  border-top: 1px solid #e6e6e6;
}
li.menu-item-8.extra {
  border-bottom: 1px solid #e6e6e6;
}
.extra {
  /*klasa "extra" eshte shtuar elementeve qe i shtohen megamenuse ne mobile menu*/
  color: #000000 !important;
  font-family: "Proxima Nova SemiBold" !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
  line-height: 5px !important;
  text-transform: capitalize !important;
  padding-top: 20px !important;
}

li[class*="menu-item"] {
  display: inline-flex !important;
  max-width: 90% !important;
  text-transform: uppercase;
  text-align: left;
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-weight: 100;
  color: #282828;
  font-family: ".SF NS Display", sans-serif !important;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  height: 40px;
  justify-content: space-between;
}
ul.page-titles-list,
.overlay {
  display: none;
}
.container-grid {
  width: calc(100% - 30px);
  display: block;
}
ul.page-titles-list.active li.wholesale-pros-only,
ul.page-titles-list.active li.retail {
  background-color: transparent !important;
  max-width: 154px !important;
  width: 100%;
  margin: 0 auto !important;
  vertical-align: middle;
  padding-top: 23px !important;
  height: 46px !important;
}

i.fa-sharp.fa-solid.fa-xmark.fa-2xl {
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 40px;
  color: #fff;
}
/*supplies-grid*/

.supply-card {
  flex-direction: row;
  width: calc(100% - 50px);
  margin: 0 auto;
  border-bottom: 1px #eee solid;
  padding-bottom: 20px;
}
.supplies-grid {
  flex-direction: column;
}
.description-supply {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0fr 1fr 6fr;
  gap: 0px;
  height: 100%;
}
.supply-img-container img.supply-img {
  height: 79px;
  width: 75px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}
strong.supply-title {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 6;
  height: 54px;
  max-width: 185px !important;
  color: #575757;
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto 45px;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
}
.supply-card button.shop-now {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 1;
  grid-column-end: 6;
  max-width: 160px;
  text-align: center;
  width: 100%;
  color: #407ec9;
  font-family: "Proxima Nova Bold";
  font-size: 14px;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  border: none;
  padding-top: 30px;
  margin: auto 45px;
}
/*level 2 mobile menu: After clicking on Tattoo link and other links */
.sub-menu.level-2.active {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  top: 75px;
  position: absolute;
  background: #fff;
  z-index: 99;
  left: 5px;
}
ul.sub-menu.level-2 li {
  max-width: 200px;
}
i.fa-solid.fa-2xs.fa-chevron-right {
  padding: 14px 0;
}
i.fa-solid.fa-2xs.fa-chevron-left {
  padding: 14px 0;
}
li .menu-item-1.active {
  background: #fff;
  position: absolute;
  top: 55px;
  right: 0;
  left: 0px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
li .menu-item-2.active {
  background: #fff;
  position: absolute;
  top: 64px;
  right: 0;
  left: 0px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
li .menu-item-3.active {
  top: -100px;
  right: 0;
  left: 0px;
  background-color: #fff;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
li .menu-item-4.active {
  top: -125px;
  left: 0;
  right: 0;
  background-color: #fff;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
li .menu-item-5.active {
  top: -165px;
  left: 0px;
  background-color: #fff;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
li .menu-item-6.active {
  top: -205px;
  left: 0px;
  background-color: #fff;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
ul.sub-menu.level-2.active li {
  max-width: fit-content;
  padding: 20px 0;
  text-align: left;
  background: #fff;
  max-width: 550px;
  width: 100%;
  margin: auto;
  padding: 4px;
  z-index: 99;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
ul li label {
  display: block;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-weight: 100;
  color: #575757;
  font-family: ".SF NS Display";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  text-transform: capitalize;
}
li[class*="menu-item"].active .level-2 {
  display: flex;
  position: absolute;
  left: 0;
  flex-direction: column;
  background: white;
  z-index: 999;
  padding-left: 20px;
  top: 20px;
}
li label.submenu-deals {
  color: #407ec9;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration: underline 1px solid #e8e8e8;
  text-underline-offset: 8px;
  text-transform: uppercase;
}
li label.title-submenu {
  color: #282828;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  text-decoration: underline 1px solid #e8e8e8;
  text-underline-offset: 8px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.search-bar .fa-magnifying-glass {
  display: block;
  color: black;
  padding: 10px;
}
/*mobile menu header, media query 400px ne menyre qe te jete me responsive dhe teksti tek titulli i menu te jete i qarte dhe i kuptueshem*/

@media screen and (max-width: 420px) {
  ul.page-titles-list.active {
    height: 100vh;
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    content: "";
  }
  .upper-menu .page-titles .page-titles-list li.wholesale-pros-only {
    color: #407ec9;
    font-family: "Proxima Nova Medium";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 23px;
    height: 62px;
    max-width: 130px !important;
    border-top: 3px solid #407ec9;
  }
  .upper-menu .page-titles .page-titles-list li.retail {
    height: 62px;
    max-width: 140px !important;
    color: #282828;
    font-family: "Proxima Nova Semibold";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    margin: 0 auto;
    padding-top: 23px;
    background-color: #eee !important;
    text-align: center;
  }
  .sub-menu.level-2.active {
    width: 90%;
    height: calc(100vh - 50px);
  }
}



